@import "tailwindcss";


html,
body {

  margin:0;

  padding:0;

  background:#f3f4f6;

  color:#111827;

}


* {

  box-sizing:border-box;

}



button {

  cursor:pointer;

}


input,
textarea {

  color:#111827;

  background:white;

}